@mixin button($bg, $color) {
    background-color: $bg;
    color: $color;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;

    &:hover {
        opacity: 0.8;
    }
}
